<div class="container">
  <%= form_for [:manager, @client] do |f| %>

    <% if @client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>
        <% @client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true  %>
    </div>

    <div class="field">
      <%= f.label :contact %>
      <%= f.number_field :contact, class: "form-control", placeholder: "Add you contact Number", required: true %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control", placeholder: "Email Id", required: true %>
    </div>

    <div class="field">
      <%= f.label :address %>
      <%= f.text_field :address, class: "form-control", placeholder: "Address", required: true %>
    </div>

    <div class="field">
      <%= f.label :profession %>
      <%= f.text_area :profession, class: "form-control", placeholder: "e.g:Web developer, Application developer, Game developer", required: true %>
    </div><br>

    <div class="">
      <%= f.submit %>
    </div>
  <% end %>

  <%= link_to 'Back', manager_clients_path, class: "btn btn-warning" %>
</div>
