<div class="container">

  <h1 class="text-center">Clients!</h1>

  <% if user_signed_in? && current_user %>
    <%= link_to 'New Client', new_manager_client_path, class: "btn btn-danger btn-sm" %>
  <% end %><br><br><hr>

  <table class="table table-responsive table-hover table-strips">
    <thead style= "background-color:#add8e6" >
      <tr>
        <th scope="row">Name</th>
        <th scope="row">Profession</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><h5><%= client.name %></h5></td>
          <td><%= client.profession %></td>
          <td><%= link_to 'Show Client', [:manager, client], class: "btn btn-dark btn-sm" %></td>
          <td><%= link_to 'Projects', manager_client_projects_path(client, @project), class: "btn btn-secondary btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
