<div class="container">

<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> Fill this Credential First!</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<br>


	<div class="field" >
		<%= f.label :name %>
		<%= f.text_field :name, placeholder: " Name", class: "form-control", required: true %>
	</div>
	<br>

	<div class="field" >
		<%= f.label :email %>
		<%= f.text_area :email, placeholder: "Email", class: "form-control", required: true %>
	</div>
	<br>

	<div class="field" >
		<%= f.label :contact %>
		<%= f.number_field :contact, placeholder: "", class: "form-control", required: true %>
	</div>
	<br>

		<div class="container">
		<%= f.submit class: "btn btn-outline-info" %>
		</div>

</div>

<% end %>
