<br>
<div class="container">

	<%= link_to 'New Project', new_project_path, class: ""%>
	
	<table class="table table-responsive table-striped table-hover ">
		<tbody>
			<% @projects.each do |project| %>

			  <tr>
			  	<th scope="row">Name </th>
		      <td><%= project.name %></td>
		    </tr>

		    <tr>
		      <th scope="row">Documentation</th>
		      <td><%= project.documentation %></td>
		    </tr>

		    <tr>
		      <th scope="row">Project Cost </th>
		      <td><%= project.project_cost %></td>
		    </tr>

		    <tr>
		      <th scope="row">Time Tracking </th>
		      <td><%= project.time_tracking %></td>
		    </tr>

		    <tr class="text-center">
				<td><%= link_to 'Show Project', project_path(project), class: ""%></td>
				</tr>
						
			<% end %>
		</tbody>
	</table>
</div>