<br>
<div class="container">

	<h1 class="text-center">Project Management Software!</h1>
	<br>

	<% if user_signed_in?%>
	<%= link_to 'New Project', new_project_path, class: "btn btn-danger index" %>
	<%= link_to 'Users', users_path, class: "btn btn-info index" %>
	<% end %>

	<table class="table table-responsive table-hover">
		<thead>
			<tr>
				<th scope="row">Name </th>
				<th scope="row">Description</th>
				<th scope="row">Project Cost </th>
				<th scope="row">Time Tracking </th>
				<th scope="row"> </th>
			</tr>
		</thead>
		<tbody>
			<% @projects.each do |project| %>
			  <tr>
		      <td><%= project.name %></td>
		      <td><%= project.documentation %></td>
		      <td><%= project.project_cost %></td>
		      <td><%= project.time_tracking %></td>
					<td><%= link_to 'Show Project', project_path(project), class: "btn btn-warning"%></td>
		    </tr>
			<% end %>
		</tbody>
	</table>
</div>
 
