<div class="container">

	<%= form_for [:manager, @payment] do |f| %>
		<% if @payment.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@payment.errors.count, "error") %> Fill this Credential First!</h2>
	      <ul>
	      <% @payment.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	      </ul>
	    </div>
  <% end %>
	<br>

	<div class="field" >
		<%= f.label :payment %>
		<%= f.text_field :payment, placeholder: "10,000 Rs", class: "form-control", required: true %>
	</div>
	<br>

	<div class="field" >
		<%= f.label :Client_id %>
		<%= f.select :client_id, ['client_id'] %>
	</div>
	<br>

	<div class="field" >
		<%= f.label :Project_id %>
		<%= f.select :project_id, ['project_id'] %>
	</div>
	<br>

	<div class="container">
		<%= f.submit class: "btn btn-outline-info btn-sm" %>
	</div>
</div>

<% end %>
