<br>
<div class="container">

	<h1 class="text-center">Project Management Software!</h1>
	<br>

	<%= link_to 'New Project', new_manager_client_project_path(@projects), class: "btn btn-danger index" %>

	<table class="table table-responsive table-hover">
		<thead>
			<tr>
				<th scope="row">Name </th>
				<th scope="row">Description</th>
				<th scope="row">Project Cost </th>
				<th scope="row">Time Tracking </th>
				<th scope="row"> </th>
			</tr>
		</thead>
		<tbody>
			<% @projects.each do |project| %>
			  <tr>
		      <td><%= project.name %></td>
		      <td><%= project.documentation %></td>
		      <td><%= project.project_cost %></td>
		      <td><%= project.time_tracking %></td>
					<td><%= link_to 'Show Project', manager_client_project_path(project, @client), class: "btn btn-warning" %></td>
		    </tr>
			<% end %>
		</tbody>
	</table>
</div>
 
