<br>
<div class="container">
 
		<%= link_to 'Back', manager_client_projects_path(@project), class: "btn btn-dark btn-sm" %>
		<%= link_to 'Add Payment', new_manager_payment_path, class: "btn btn-dark btn-sm" %>

	<table class="table table-responsive table-hover">
		<tbody>

			<tr>
				<% if @project.image.attached? %>
					<td><%= image_tag @project.image, style: "width: 200px; display: block" %></td>
				<% end %>
			</tr>

			<tr>
		  	<td><strong>Name:</strong></td>
		  	<td><%= @project.name %></td>
		  </tr>

			<tr>
				<td><strong>Description:</strong></td>
				<td><%= @project.documentation %></td>
			</tr>

			<tr>
				<td><strong>Project Cost:</strInfoong></td>
				<td><%= @project.project_cost%></td>
			</tr>

			<tr>
				<td><strong>Time Tracking:</strong></td>
				<td><%= @project.time_tracking %></td>
			</tr>

		</tbody>
	</table>

	<div>
		
	</div>

	<div id = "comment-content">
		<hr>
		
			<% @project.comments.each do |comment| %>
					<%= render 'manager/comments/comment', comment: comment %>
			<% end %>

		<%= render 'manager/comments/form' %>
	</div>
</div> 
