<div class="container">

  <%= form_for [:admin, @user] do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> Fill this Credential First!</h2>
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <br>

    <div class="field" >
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: " Name", class: "form-control", required: true %>
    </div>
    <br>

    <div class="field" >
      <%= f.label :email %>
      <%= f.text_field :email, placeholder: "Email", class: "form-control", required: true %>
    </div>
    <br>

    <div class="field" >
      <%= f.label :contact %>
      <%= f.number_field :contact, placeholder: "XXX-XXX-XXX", class: "form-control", required: true %>
    </div>
    <br>

    <div class="field">
      <%= f.label :roles %>
      <%= f.select :roles, [['Admin', "admin"], ['Manger', "manager"], ['Member', "member"]] %>
    </div>
    <br>

    <div class="field" >
      <%= f.label :password %>
      <%= f.password_field :password, placeholder: "******", class: "form-control", required: true %>
    </div>
    <br>

    <div class="field" >
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, placeholder: "******", class: "form-control", required: true %>
    </div>
    <br>

      <div class="container">
      <%= f.submit class: "btn btn-outline-info" %>
      </div>

  </div>
<% end %>
